.vscode/**
typings/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json

assets/**
.vscode-test/**
node_modules/.bin/**
**/*.ts
typings.json
spec/**/*.*
.travis.yml
yarn.lock
npm-debug.log*
